deep-translator
pyromod
openai
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]
lyricsgenius
motor
wget
pillow==11.0.0
pymongo==4.9.1
psutil
pytube
pykeyboard
unidecode
pyromod
ntgcalls==1.1.2
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
urllib3
uvloop
flask
blackpink
pycountry
pyshorteners
gunicorn==22.0.0
youtube-search
youtube-search-python
pornhub-api==0.3.0
telegraph
async_pymongo
gpytranslate
search_engine_parser
emojis
cloudscraper
blackpink
pycryptodome
pickledb
Faker
pyfiglet
qrcode
pytz
pydub
apscheduler
gtts
py-tgcalls==0.9.7
lexica-api==1.5.7
git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
git+https://github.com/Vivekkumar-IN/yt-dlp-youtube-oauth2
