.SignWidth,
.SignWidth button {
  width: 50vw;
}

@media screen and (min-width: 400px) {
  .SignWidth,
  .SignWidth button {
    width: 70vw;
  }
}

@media screen and (min-width: 300px) {
  .SignWidth,
  .SignWidth button {
    width: 70vw;
  }
}
